<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421608251376-fi6e8rk58bpld5iqat1elt3t8uagvjd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421608251376-fi6e8rk58bpld5iqat1elt3t8uagvjd9</string>
	<key>API_KEY</key>
	<string>AIzaSyAUC9gDS5qknnQhkqC2uFLyvVZ_qF1n0Tg</string>
	<key>GCM_SENDER_ID</key>
	<string>421608251376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quitforbit</string>
	<key>PROJECT_ID</key>
	<string>quitforbit</string>
	<key>STORAGE_BUCKET</key>
	<string>quitforbit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421608251376:ios:91335f6b4f744f731405f2</string>
</dict>
</plist>